* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  outline: 0;
  box-shadow: 0 0;
}

body {
  column-count: 2;
  column-gap: 0;
}

section {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  vertical-align: top;
}

/*LEFT SIDE*/
.left-side {
  background-color: #F7F7F7;
  color: #404041;
}

.empty-flex-space {
  flex: 1;
}

/*MIN AND MAX RANGE*/
article{
  flex: 2;
  padding: 0 5%;
}

h1 {
  text-align: center;
  font-size: 3rem;
  font-weight: 300;
}

.left-side h1 {
  color: #DD1972;
  margin-bottom: 5%;
}

strong {
  font-weight: 700;
}

.range-input {
  border-bottom: 2px solid #D0D2D3;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 2%;
}

.min-range-div, .max-range-div, .update-button-div {
  flex-basis: 32%
}

.min-range-div p {
  font-size: .8rem;
  margin-top: 2%;
}

.error-icon {
  height: .8rem;
}

label {
  display: block;
  font-weight: 700;
  text-align: left;
}

input[type="number"] {
  border: 1px solid #6E6E6E;
  display: block;
  font-size: 1.25rem;
  width: 100%;
}

input[type="number"]:focus {
  border-color: #DD1972;
  outline: none;
}

.hidden {
  visibility: hidden;
}

.error-message-range p {
  display: inline-block;
}

.update-button {
  width: 100%;
}

.button {
  background-color: #6E6E6E;
  border-radius: 25px;
  color: #FFFFFF;
  font-size: 1rem;
  font-weight: 700;
  height: 29px;
}

.button:disabled {
  background-color: #D0D2D3;
}

.hover:hover {
  background-color: #DD1972;
}

.button:onclick {
  background-color: #DD1972;
}


/*CURRENT RANGE AND SUBMIT GUESS*/
.current-range{
  margin: 2% auto;
}

.left-side p strong {
  text-decoration: underline;
}

.guess-input {
  width: 100%;
}

.guess-input label {
  display: inline;
}

.error-message-guess {
  float: right;
}

.error-message-guess p {
  display: inline-block;
}

.guess-input input[type="number"] {
  font-size: 1.5rem;
  width: 100%;
}

input[value="SUBMIT GUESS"] {
  display: block;
  font-size: 1.25rem;
  height: 35px;
  margin: 2% auto;
  width: 100%;
}

.clear-reset-buttons {
  display: flex;
  justify-content: space-between;
}

.clear-reset-buttons input {
  flex-basis: 49%;
}

/*RIGHT SIDE*/
.right-side {
  background-color: #404041;
  text-align: center;
}

.right-side article {
  display: flex;
  flex-direction: column;
}

.right-side h1 {
  color: #FFFFFF;
  flex: 1;
}

.right-side p {
  color: #F74D9B;
  flex: 4;
  font-size: 10rem;
  font-weight: 700;
}

.right-side h2, h4 {
  color: #FFFFFF;
  flex: 1;
  font-size: 2rem;
  font-weight: 300;
}
h4 {
  font-size: 1rem;
}